@page "/DesignList"


@using CititorServer.Data.Model
@using CititorServer.Data.Service

@inject IDesignService IDesignService
@inject NavigationManager NavigationManager

<h1>Catalogo de Dise単os</h1>
    <div class="d-flex flex-row flex-wrap">
        @foreach (var design in designsList )
            {   
                <div class="card m-3 " style="width: 18rem;">
                    <img class="card-img-top min-height-img" src="@design.imagenDise単o" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@design.idDise単o @design.descripcion</h5>
                        <p class="card-text">@design.fechaCarga - @design.Tama単o </p>
                        <a href="#" class="btn btn-primary">Agregar</a>
                    </div>
                </div>  
            }
    </div>
   

@code {

    IEnumerable<Design> designsList;
     protected override async Task OnInitializedAsync(){
         
        designsList= await IDesignService.AllDesignsGet();

    }
}